<h1>Lista de Disciplinas</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Turma</th>
            <th>Professor</th>
        </tr>
    </thead>
    <tbody>
        {% for disciplina in disciplinas %}
        <tr>
            <td>{{ disciplina.id }}</td>
            <td>{{ disciplina.nome }}</td>
            <td>{{ disciplina.turma.nome }}</td>
            <td>{{ disciplina.professor.first_name }} {{ disciplina.professor.last_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'criar_disciplina' %}">Criar Nova Disciplina</a>