<h1>Registrar Frequência</h1>
<form method="POST">
    {% csrf_token %}
    <label for="aluno">Aluno:</label>
    <select name="aluno" id="aluno">
        {% for aluno in alunos %}
        <option value="{{ aluno.id }}">{{ aluno.first_name }} {{ aluno.last_name }}</option>
        {% endfor %}
    </select>
    
    <label for="disciplina">Disciplina:</label>
    <select name="disciplina" id="disciplina">
        {% for disciplina in disciplinas %}
        <option value="{{ disciplina.id }}">{{ disciplina.nome }}</option>
        {% endfor %}
    </select>
    
    <label for="presente">Presente:</label>
    <input type="checkbox" name="presente" id="presente">
    
    <label for="data">Data:</label>
    <input type="date" name="data" id="data" required>
    
    <button type="submit">Salvar Frequência</button>
</form>
